@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #9DF9FF;
        }

        .card {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #343a40;
            color: #fff;
            font-weight: bold;
            text-align: center;
            padding: 0.75rem;
        }

        .card-body {
            padding: 2rem;
        }

        .form-control {
            border-radius: 0;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 0;
            padding: 0.75rem;
            width: 100%;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

            .btn-primary:hover,
            .btn-primary:focus {
                background-color: #0069d9;
                border-color: #0062cc;
            }

        .alert-danger {
            border-radius: 0;
            font-weight: bold;
            text-align: center;
        }

        .text-center {
            text-align: center;
            margin-top: 1.5rem;
        }

        a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col-12 col-md-6 col-xl-4">
            <div class="card">
                <div class="card-header">
                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="card-body">
                    <form asp-controller="Login" asp-action="IniciarSesion" method="post">
                        <input class="form-control mb-3" type="text" placeholder="Correo" required name="correo" />
                        <input class="form-control mb-3" type="password" placeholder="Contraseña" required name="clave" />
                        <div class="d-grid mb-3">
                            <button class="btn btn-primary" type="submit">
                                Iniciar Sesión
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255,255,255, 1)"><path d="m13 16 5-4-5-4v3H4v2h9z"></path><path d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2z"></path></svg>
                            </button>
                        </div>

                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="form-group">
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["Mensaje"]
                                </div>
                            </div>
                        }
                        <div class="text-center">
                            ¿No tienes una cuenta? <a href="@Url.Action("Registrarse", "Login")">Regístrate</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>



