@model GestorDeEmails2.Models.Usuario;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <style>
        body {
            background-color: #9DF9FF;
        }

        .card {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .card-header {
            background-color: #343a40;
            color: #fff;
            font-weight: bold;
            text-align: center;
            padding: 0.75rem;
        }

        .card-body {
            padding: 2rem;
        }

        .form-control {
            border-radius: 0;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            border-radius: 0;
            padding: 0.75rem;
            width: 100%;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

            .btn-primary:hover,
            .btn-primary:focus {
                background-color: #0069d9;
                border-color: #0062cc;
            }

        .alert-danger {
            border-radius: 0;
            font-weight: bold;
            text-align: center;
        }

        a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="col-5 colxl-1 colmd-2">
                <div class="card">
                    <div class="card-header">
                        Registrate
                    </div>
                    <div class="card-body">
                        <form asp-controller="Login" asp-action="Registrarse" method="post">
                            <input class="form-control mb-3" type="text" placeholder="Nombre Completo" required asp-for="UsuarioNombre" />
                            <input class="form-control mb-3" type="text" placeholder="Correo" required asp-for="Correo" />
                            <input class="form-control mb-3" type="password" placeholder="Contraseña" required asp-for="Contrasenia" />
                            <div class="d-grid gap-2 mb-3">
                                <button class="btn btn-primary" type="submit">Registrate</button>
                            </div>
                            @if (ViewData["Mensaje"] != null)
                            {
                                <div class="form-group">
                                    <div class="alert alert-danger" role="alert">
                                        @ViewData["Mensaje"]
                                    </div>
                                </div>
                            }
                            ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion", "Login")">Iniciar Sesión</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

